project_id = "agente-ai-prod"
region     = "southamerica-east1"
env         = "prod"
github_repo = "RodrigoDiasDeOliveira/Agente_AI"
backend_image = "southamerica-east1-docker.pkg.dev/agente-ai-prod/agente-ai/api:latest"
web_image     = "southamerica-east1-docker.pkg.dev/agente-ai-prod/agente-ai/web:latest"
ingest_image  = "southamerica-east1-docker.pkg.dev/agente-ai-prod/agente-ai/ingest:latest"
notification_email = "seuemail@empresa.com"
